main {
    font-family: "Comic Sans MS";
    text-align: center;
    display: flex;
    height: 100%;

}

main > div{
    flex: 1;

}

.images > img {
    height: 100px;
}

main > div:not(:nth-child(2)){
    background-color: lightgray;
}